<div class="optimize-modal-body">
  <button class="close-button" mat-flat-button matDialogClose>X</button>
  <h1>Optimization</h1>
  <div class="filter-box">
  <!-- <app-course-list class="course-list-body"></app-course-list> -->
  <div class="selection-container">
    <!-- <div style="width: 50%;">
      <app-course-list></app-course-list>
    </div> -->
    <div class='right-col'>
      <app-tag-list (updateGlobalFilters)="updateFilters($event)"></app-tag-list>
      <tr>
        <td><button class="optBtn" mat-flat-button> Minimize Breaks</button></td>
        <td><button class="optBtn" mat-flat-button>Schedule 9am to 5pm</button></td>
      </tr>
      <tr>
        <td><button class="optBtn" mat-flat-button> Minimize Days</button></td>
        <td><button class="optBtn" mat-flat-button> Avoid 3hr Lectures</button></td>
      </tr>
    </div>
  </div>

  <button class="optimizeBtn-container" mat-flat-button (click)="this.runOptimization()">
    <mat-icon>calendar_today</mat-icon>Run Optimization
  </button>
  <button class="optimizeBtn-container" mat-flat-button [disabled]="this.optimizationResults === undefined" [mat-dialog-close]="this.optimizationResults">
    Update With Results
  </button>
</div>