/* .optimizeBtn {
  position: relative;
  bottom: 0;
  left: auto;
  right: auto;

} */

.card {
    text-align: center;
  }
   .filter-box{
     height: 400px;
     width: 200px;
     overflow-y: hidden;
  
  
   }
  
   .selection-container {
     display: flex;
   }
  
  .modal-body{
    margin: 10px;
    padding-bottom: 20px;
    position: relative;
    /* position: absolute;
    height: 639px;
     width: 750px; */
  
    /* display: inline;
   position: relative; */
  }
  
  .tag-list-container {
    position: absolute;
    display: block;
    right: 0px;
    width: 50% !important;
  
  
    /* margin-left: 520px; */
  
  
  }
  
  .close-button {
    margin: 0;
    padding: 0;
    display: block;
    min-width: 30px !important;
    max-width: 30px !important;
    height: 30px !important;
    width: 30px !important;
    border-radius: 100%;
    background-color: #f1f1f1;
    line-height: 8px;
    position: absolute;
    top: -18px;
    right: -10px;
    z-index: 10;
  }
  
  .buttons-container {
    display: block;
    position: absolute;
    width: 50%;
    right: 0px;
    margin-top: 250px;
  }
  
  .optBtn {
    background-color: #f1f1f1;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 168.453px;
    height: 36px;
  }
  
  .optimizeBtn-container {
    /* position: absolute; */
    display: block;
    margin: 10px auto;
    margin-top: 20px;
    background-color: #f1f1f1;
  
  }
  
  /* .inner-tag-list-box {
    border:1px solid black;
  
  } */
  
  .full-width {
    width: 100%;
  }

  .new-curricula {
    width: 100%;
  }