<div class="course-dialog-body">
  <!-- Heading -->
  <span class="course-title">{{this.course.dept}} {{this.course.code}} Section {{this.course.section}}</span>
  <span class="course-title" *ngIf="this.course.type === 'lab'"> Lab {{this.course.labSection}}</span>
  <div class="lock-toggle-cont"> 
    <mat-slide-toggle class="lock-toggle"></mat-slide-toggle> <br>
    <span class="lock-label">Lock</span>
  </div>
  <mat-icon class="course-icon" [svgIcon]="this.getCourseIconName(course)" aria-hidden="false" aria-label=""></mat-icon> 
  <h2 class="course-name">{{this.course.name}}</h2> 

  <!-- Meeting Patterns & Rooms -->
  <div class="meeting-container">
    <h3 class="meeting-title">Meeting, Patterns, & Rooms</h3>
    <div class="inner-container">
      
      <div class="inner-item">
        <h4 class="inner-item-data">{{this.course.daysOut()}}</h4>
        <span class="inner-item-label">Days</span>
      </div>

      <div class="inner-item">
        <h4 class="inner-item-data">{{this.course.startTime()}}</h4>
        <span class="inner-item-label">Start</span>
      </div>

      <div class="inner-item">
        <h4 class="inner-item-data">{{this.course.endTime()}}</h4>
        <span class="inner-item-label">End</span>
      </div>

      <div class="inner-item">
        <h4 class="inner-item-data">M,W,F</h4>
        <span class="inner-item-label">Days</span>
      </div>

      <div class="inner-item">
        <h4 class="inner-item-data">M,W,F</h4>
        <span class="inner-item-label">Days</span>
      </div>
    </div>
  </div>

  <!-- Instructors -->


  <!-- Alternate Times -->
</div>
