.course-icon {
    /* position: relative; */
    /* top: 3px; */
    border-radius: 0 !important;
  }

.course-label {
  /* margin-left: 5px; */
  font-size: 0.9em;
}
.course-entry{
  border-radius: 0px !important;
}

.checkbox-cont {
  display: inline;
  text-align: right;
}
