<mat-card class="course-entry">
    <mat-card-header>
        <img mat-card-avatar class="course-icon" [src]=this.iconType() />
        <mat-card-title class="course-label">{{this.course.dept}} {{this.course.code}} </mat-card-title>  
        <mat-card-subtitle>
            Section {{this.course.section}}
        </mat-card-subtitle>
        <div class="checkbox-cont">
            <mat-checkbox (change)="changeCourse($event)" checked="true"></mat-checkbox>
        </div>
    </mat-card-header>
</mat-card>