<mat-card
    class="course-entry"
    [ngStyle]="{'background-color':cMap.getLighterColor(this.course.dept)}"
    >
    <mat-card-header class="card-header">
        <img
            mat-card-avatar
            class="course-icon"
            [src]="this.iconType()"
            [ngStyle]="{'background-color':cMap.getColor(this.course.dept)}"
        />
        <mat-card-title
            class="course-label">
            {{this.course.dept}} {{this.course.code}}
        </mat-card-title>  
        <mat-card-subtitle>
            Section {{this.course.section}}
        </mat-card-subtitle>
        <div class="checkbox-cont">
            <mat-checkbox (change)="changeCourse()" [checked]="course.display"></mat-checkbox>
        </div>
        <img
            *ngIf="showEdit"
            class="edit-icon"
            (click)="openCourseDialog(course)"
            [src]="'../../../../../assets/edit-24px.svg'"
        />
    </mat-card-header>
</mat-card>