.day-title {
  font: Helvetica;
  font-weight: bold;
  text-align: center;
  display: block;
  padding-top: 5px;
}
.day-body {
  height: 100%;
  width: 100%;
  background-color: white;
  border-left: 0.5px solid #CCCCCC;
}

.block-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.block {
  width: 100%;
  border-bottom: 0.5px solid #CCCCCC;
}