.course-list-body {
    height: 600px;
    width: 100%;
    background-color: white;
    overflow-y: scroll;
    overflow-x: scroll;
}

.plus-btn {
    background-color: #F1F1F1 !important;
    margin-left: 10px;
    margin-right: 10px;
}
