.tag-body {
    height: 250px;
    width: 100%;
    background-color: white;
    overflow: auto;
    border: 1px solid #eee;
    margin-bottom: 5px;
}

.tags {
  display: flex;
  justify-content: space-between;
}

.node {
  min-height: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mat-tree-node {
  min-height: 0px;
}

.mat-icon-button {
  height: auto;
  line-height: 30px;
}

.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }