.tag-body {
    height: 200px;
    width: 100%;
    background-color: orchid;
    overflow: auto;
}

.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }