.config-body {
    height: 200px;
    min-width: 890px;
    width: 100%;
    background: white;
}



.config-btn{
  margin-left:30px;
  top: 30px;
  background-color: #F1F1F1;
}
.button-row{
  display: inline;

}

.config-ctrl-arrow {
  margin-left:30px;
  top: 60px;
  background-color: #F1F1F1;
 /* width: 20px!important;
min-width: unset!important; */
}

.config-controls {
  /* display: inline; */
}

.dropdown {
  top: 60px;
  left: 30px;
}

.icon-text {
  margin-left: 5px;
}
@media(max-width:1120px) {
  .icon-text {
    display: none;
  }
}