.config-body {
  position:relative;
    height: 200px;
    width: 1390px;
    background-color: blue;
}

.button-row{
  position: absolute;
  left: 100px;
  top:10px;
}

.config-btn{
  margin-left:30px;
}
