<div class="config-body">
  <div class="button-row">

    <button class = "config-btn"mat-flat-button>
      <mat-icon>timeline</mat-icon>Constraints
    </button>

    <button class = "config-btn" mat-flat-button>
      <mat-icon>calendar_today</mat-icon>Run Optimization
    </button>

    <button class = "config-btn" mat-flat-button>
      <mat-icon>save</mat-icon>Export to CSV
    </button>

    <button  class = "config-btn" mat-flat-button>
      <mat-icon>people_outline</mat-icon>Team
    </button>

    <button class = "config-btn" mat-flat-button>
      <mat-icon>settings</mat-icon>Configuration
    </button>

  </div>
</div>
