<div class="day-body">
  <span class="day-title">{{name}}</span>
  <div
    class="block-wrapper"
    [ngStyle]="{
      'border-left':(name=='Monday')? '0.25px solid #707070' : 'none'
    }"
  >   
    <app-block
      *ngFor="let item of blocks; let i = index"
      class="block"
      [ngStyle]="{
        'height':100/numBlocks+'%',
        'border-bottom':( i%2 == 0 ) ? '0.25px solid #CCCCCC' : 'none'
      }"
      [courses]=this.coursesStartingAtBlock(i)
    >
    </app-block>

  </div>
</div>