.green-color {
    background-color: green;
}

.orange-color {
    background-color: orange;
}

.container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    justify-items: stretch;
    align-items: stretch;
}