<!-- <button (click)="getCourses()">Get Courses</button> -->
<div class="container">
    <app-filter
      [coursesToDisplay]="this.courses"
      (updateGlobalFilters)="updateFilters($event)"
      (filterCourses)="setCoursesToDisplay()"
      (courseAdded)="this.addCourse($event)"
      (courseUpdated)="this.updateCourse($event)"
      (courseDeleted)="this.removeCourseManually($event)"
    ></app-filter>
    <app-scheduler
        [coursesToDisplay]="this.coursesToDisplay"
        [allCourses]="courses"
        [curricula]="curricula"
        (courseDeleted)="this.removeCourseManually($event)"
        (courseUpdated)="this.updateCourse($event)"
        (updateWithOptimization)="this.updateWithOptimization($event)"
    ></app-scheduler>
</div>
