<!-- <button (click)="getCourses()">Get Courses</button> -->
<div class="container">
    <app-filter
      (updateGlobalFilters)="updateFilters($event)"
      (courseStateChanged)="this.addCourse($event)"
    ></app-filter>
    <app-scheduler
        [coursesToDisplay]="this.coursesToDisplay"
        [allCourses]="courses"
        [curricula]="curricula"
        (courseDeleted)="this.removeCourseManually($event)"
        (courseUpdated)="this.updateCourse($event)"
        (updateWithOptimization)="this.updateWithOptimization($event)"
    ></app-scheduler>
</div>
