.course {
  font-size: 12px;
  font-weight: 500;
  color: white;
  margin: 2px;
  margin-top: 0;
  margin-bottom: 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  border-radius: 2px;
  /* border-top: 0.5px solid black; */
  opacity: 0.85;
  min-width:0;
  overflow: hidden;
  z-index: 10;
  transition: 0.1s;
}
.course-info {
  margin-top: 5px;
  margin-left: 7px;
}
.course-time {
  font-size: 10px;
  opacity: 0.85;
}
.course:hover {
  z-index: 100;
  opacity:1;
  cursor: pointer;
  transition: 0.1s;
  /* Maybe someday try to figure this out */
  /* overflow: visible;
  width: 109.5px;
  position: fixed; */
}
.block-box {
  position: relative;
  display: flex;
  height: 100%;
}

.course-icon {
  position: relative;
  top: 3px;
  height: 13px;
  width: 13px;
  font-size: 14px !important;
  padding: 0;
  margin: 0;
}