<div class="block-box">
  <div
    class="course"
    *ngFor="let course of this.coursesStarting" 
    [ngStyle]="{
      'height':100*course.duration+'%',
      'background-color':course.colour,
      'width':this.calcBlockWidth()+'%'
    }"
    (click)="openCourseDialog(course)"
  >
  <mat-icon class="course-icon" [svgIcon]="this.getCourseIconName(course)" aria-hidden="false" aria-label=""></mat-icon>
  {{course.dept}} {{course.code}}
  <br>
  <div class="course-time">
    {{course.startTime()}}-{{course.endTime()}}
  </div>
  </div>
</div>

