.course {
  background-color: red;
  /* position: absolute; */
  font-size: 9px;
  color: white;
  padding: 10px;
  margin: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  border-radius: 2px;
  /* border-top: 0.5px solid black; */
  opacity: 0.9;
}
.block-box {
  position: relative;
  display: flex;
  height: 100%;
}